<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <title>Typing From Books</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <meta name="description" content="Typing From Books - The fun way to type">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,800%7CWork+Sans:500,900" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
  </head>
  <body class="mrs-v3 mrs-white">

  	<div class="container">
  		<div class="col-6 middle-6 col-content">
  			<div class="logo fadeIn fast">
  				<img src="/images/logo.png" alt="Typing From Books Logo">
          <h1 class="fadeIn medium fat_title">Typing From Books</h1>
  			</div>
  			<div class="content jquery-center" style="top: calc(50% - 123px);">
  				<h2 class="short_description">Stimulate your brain while you improve your typing skills.</h2>
  				<h2 class="fat_title">Coming Soon</h2>
  			</div>
  		</div>
  	</div>

  	<div class="anounchment_element_layer">
  		<div class="anounchment_element"></div>
  	</div>


  </body>
</html>
